:root {
	--blue: #1F4481;
	--blue-brightness-opacity: 0.1;
	--blue-brightness-filter: hue;
	--blue-filter: hue;

	--green: #26513C;
	--green-brightness-opacity: 0.1;
	--green-brightness-filter: hue;
	--green-filter: color;

	--red: #601f1f;
	--red-brightness-opacity: 0.3;
	--red-brightness-filter: hue;
	--red-filter: hue;

	--brown: #4D341E;
	--brown-brightness-opacity: 0.15;
	--brown-brightness-filter: luminosity;
	--brown-filter: hue;
}

* {
	box-sizing: border-box;
}

html,
body,
ul,
li,
figure,
figcaption {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

html,
body {
	height: 100%;
}

body {
	color: #444;
	background: #F2F2F2;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

fieldset {
	border: none 0;
}

.app {
	display: flex;
	height: 100%;
	flex-direction: column;
	padding: 8px 0 0 0;
}

.lightroom {
	flex-grow: 1;
	flex-basis: 100%;
	padding: 8px 16px 16px 16px;
}

.product {
	position: relative;
	width: 1200px;
	height: 675px;
	margin: 0 auto;
	border-radius: 40px;
	overflow: hidden;
	transition: all .6s;
}

.product figure {
	line-height: 0;
}

.product figcaption {
	position: absolute;
	left: -9999em;
}

.toolbar {
	display: flex;
	justify-content: space-around;
	margin-top: auto;
	padding: 16px var(--toolbar-lat-padding, 80px) 4px;
	background: white;
	z-index: 10;
}

/* Products Buttons List */
.tabs ul {
	display: flex;
}

.color-options {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.color-options legend {
	font-weight: 500;
	font-size: .875em;
}

.color-options ul {
	display: flex;
}

.color-options li {
	position: relative;
}

.color-options input {
	position: absolute;
	top: 35%;
	left: 35%;
}

.color-options label {
	position: relative;
	display: block;
	width: 48px;
	height: 48px;
	background: var(--color);
	border-radius: 50%;
	text-indent: -9999em;
	transform: scale(.8);
}

.color-options label::before,
.color-options label::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--color);
	opacity: .2;
	border-radius: 50%;
	transform: scale(1.125);
	transition: all .3s;
}

.color-options label::after {
	transform: scale(1);
}

/* Focus & Hover states */
.color-options input:focus + label::after,
.color-options label:hover::after {
	transform: scale(1.25);
}

/* Selected state */
.color-options input:checked + label::before {
	transform: scale(1.2);
	opacity: 1;
}

.color-options input:checked + label::after {
	transform: scale(1.1);
	opacity: 1;
	box-shadow: inset 0 0 0 2px white;
}

/* Selected Focus */
.color-options input:checked:focus + label::after,
.color-options input:checked + label:hover::after {
	box-shadow: inset 0 0 0 2px rgba(255,255,255, .5);
	transform: scale(1);
}

/* Disabled */
.color-options input:disabled + label,
.color-options input:disabled + label {
	opacity: .3;
	cursor: not-allowed;
}

.filters,
.filters > div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.color {
	background: var(--color, transparent);
	mix-blend-mode: var(--filter, color);
	clip-path: var(--shape);
	/*clip-path: polygon(14.19% 35.72%, 18.01% 41.7%, 21.61% 45.61%, 24.54% 48.77%, 28.84% 53.23%, 36.62% 61.03%, 44.05% 68.59%, 50.96% 74.51%, 54.98% 76.9%, 56.65% 77.22%, 58.05% 77.3%, 59.15% 76.56%, 61.21% 74.53%, 83.76% 47.74%, 83.75% 46.07%, 64.25% 68.85%, 63.06% 68.16%, 61.48% 66.35%, 60.06% 63.91%, 58.14% 61.1%, 56.33% 58.57%, 54.87% 57.09%, 53.1% 53.98%, 51.57% 50.85%, 49.82% 46.76%, 48.27% 44.05%, 46.75% 41.73%, 45.04% 39.58%, 42.8% 37.71%, 40.88% 36.48%, 38.52% 35.12%, 35.74% 34.19%, 33.28% 33.53%, 30.92% 33.09%, 27.57% 32.37%, 25.12% 31.46%, 22.52% 30.61%, 20.38% 29.35%, 19.67% 28.25%, 13.99% 31.8%, 13.84% 33.93%);*/
}
.brightness {
	background: var(--brightness-color, black);
	mix-blend-mode: var(--brightness-filter, luminosity);
	opacity: var(--brightness-opacity, 0);
	clip-path: var(--shape);
}

@media (max-height: 840px ), (max-width: 1280px) {
	.product {
		width: 1000px;
		height: 562.5px;
	}
}

@media (max-height: 700px ), (max-width: 1032px) {
	.product {
		width: 800px;
		height: 450px;
	}
	.toolbar {
		--toolbar-lat-padding: 24px;
	}
}

@media (max-height: 584px ), (max-width: 830px)  {
	.app,
	.lightroom {
		padding: 0;
	}

	.toolbar {
		--toolbar-lat-padding: 16px;
	}

	.product {
		width: auto;
		height: auto;
		border-radius: 0;
		margin-left: -8px;
		margin-right: -8px;
	}
}