:root {
	--blue: #1F4481;
	--blue-brightness-opacity: 0.1;
	--blue-brightness-filter: hue;
	--blue-filter: hue;

	--green: #26513C;
	--green-brightness-opacity: 0.1;
	--green-brightness-filter: hue;
	--green-filter: color;

	--red: #601f1f;
	--red-brightness-opacity: 0.35;
	--red-brightness-filter: hue;
	--red-filter: hue;

	--brown: #4D341E;
	--brown-brightness-opacity: 0.2;
	--brown-brightness-filter: luminosity;
	--brown-filter: hue;
}

* {
	box-sizing: border-box;
}

html,
body,
ul,
li,
figure,
figcaption {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

html,
body {
	height: 100%;
}

body {
	color: #444;
	background: #F2F2F2;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

fieldset {
	border: none 0;
}

.app {
	display: flex;
	height: 100%;
	flex-direction: column;
	padding: 8px 0 0 0;
}

.lightroom {
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-basis: 100%;
	padding: 8px 16px 16px 16px;
}

.product {
	position: relative;
	width: 1200px;
	height: 675px;
	margin: 0 auto;
	border-radius: 40px;
	overflow: hidden;
	transition: all .6s;
}

.product figure {
	line-height: 0;
}

.product figcaption {
	position: absolute;
	left: -9999em;
}

.toolbar {
	display: flex;
	justify-content: space-around;
	margin-top: auto;
	padding: 16px var(--toolbar-lat-padding, 80px) 4px;
	background: white;
	z-index: 10;
}

/* Products Buttons List */
.tabs {
	flex-basis: 50%;
}

.tabs ul {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 32px;
}

.tabs li {
	flex-basis: 25%;
}

.tabs button {
	width: 100%;
	height: 100%;
	padding: 16px;
	font-size: 1em;
	background: transparent;
	border: 1px solid #ddd;
	transition: all .3s;
}

.tabs button[aria-selected="true"] {
	background: var(--blue);
	border-color: var(--blue);
	color: white;
}

.tabs li:first-child button {
	border-radius: 8px 0 0 8px;
}

.tabs li:last-child button {
	border-radius: 0 8px 8px 0;
}

.color-options {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.color-options legend {
	font-weight: 500;
	font-size: .875em;
}

.color-options ul {
	display: flex;
}

.color-options li {
	position: relative;
}

.color-options input {
	position: absolute;
	top: 35%;
	left: 35%;
}

.color-options label {
	position: relative;
	display: block;
	width: 48px;
	height: 48px;
	background: var(--color);
	border-radius: 50%;
	text-indent: -9999em;
	transform: scale(.8);
}

.color-options label::before,
.color-options label::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--color);
	opacity: .2;
	border-radius: 50%;
	transform: scale(1.125);
	transition: all .3s;
}

.color-options label::after {
	transform: scale(1);
}

/* Focus & Hover states */
.color-options input:focus + label::after,
.color-options label:hover::after {
	transform: scale(1.25);
}

/* Selected state */
.color-options input:checked + label::before {
	transform: scale(1.2);
	opacity: 1;
}

.color-options input:checked + label::after {
	transform: scale(1.1);
	opacity: 1;
	box-shadow: inset 0 0 0 2px white;
}

/* Selected Focus */
.color-options input:checked:focus + label::after,
.color-options input:checked + label:hover::after {
	box-shadow: inset 0 0 0 2px rgba(255,255,255, .5);
	transform: scale(1);
}

/* Disabled */
.color-options input:disabled + label,
.color-options input:disabled + label {
	opacity: .3;
	cursor: not-allowed;
}

.filters,
.filters > div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.color {
	background: var(--color, transparent);
	mix-blend-mode: var(--filter, color);
	clip-path: var(--shape);
}

.brightness {
	background: var(--brightness-color, black);
	mix-blend-mode: var(--brightness-filter, luminosity);
	opacity: var(--brightness-opacity, 0);
	clip-path: var(--shape);
}

/* The color 2 for the bi-color items */
.color-2 {
	background: var(--color-2, transparent);
	mix-blend-mode: var(--filter-2, color);
	clip-path: var(--shape-2);
	/*clip-path: ;*/
}

.brightness-2 {
	background: var(--brightness-color-2, black);
	mix-blend-mode: var(--brightness-filter-2, luminosity);
	opacity: var(--brightness-opacity-2, 0);
	clip-path: var(--shape-2);
}

@media (max-height: 840px), (max-width: 1280px) {
	.product {
		width: 1000px;
		height: 562.5px;
	}
}

@media (max-height: 700px), (max-width: 1032px) {
	.product {
		width: 800px;
		height: 450px;
	}
	.toolbar {
		--toolbar-lat-padding: 24px;
	}
}

@media (max-height: 584px), (max-width: 830px)  {
	.app,
	.lightroom {
		padding: 0;
	}

	.toolbar {
		--toolbar-lat-padding: 16px;
	}

	.product {
		width: auto;
		height: auto;
		border-radius: 0;
	}
}

@media (max-width: 480px)  {
	.toolbar {
		flex-wrap: wrap;
	}
}